[submodule "bundle/typescript-syntax"]
	path = bundle/typescript-syntax
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
